* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.header{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr 1fr;
  padding: 20px;

}

.title{
width: fit-content;
}
.left-header{
display: grid;
justify-items: left;
grid-auto-flow: column;
align-items: center;
}

.right-header{
  display: grid;
justify-items: right;
align-items: center;
}

ul{
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  gap:40px;
}